.container {
    top: 10%;
    position: relative;
    height: 100vh;

    h2 {
        font-weight: 800;
        padding-left: 10px;
    }
}

.filter {
    margin: 10px 10px 20px;
    label {
        display: block;
        font-size: 14px;
        padding-bottom: 3px;
        font-weight: bold;
    }

    .form-control {
        width: 230px;
        height: 30px;
        border: 1px solid #E7E5ED;
        border-radius: 3px;
        outline: none;
        font-family: 'Courier New', monospace;
    }

    .list-container {
        margin-left: 5px;
    }
}