  <div class="container">
      <h2>Filter</h2>
      <div class="filter">
        <label>Product</label>
        <div *ngFor="let product of productsOptionsForSelection; let i = index">
          <input type="checkbox" [(ngModel)]="product.selected"
           (change)="getSelectedProduct(product)" [disabled]="product.disabled">
          <span>{{product.name}}</span>
        </div>       
        <!--select class="form-control"
                id="product-filter"
                [(ngModel)]="selectedProductOption">
            <option *ngFor="let product of productsOptionsForSelection" [ngValue]="product">
                {{product.name}}
            </option>
        </select-->
      </div>
      <div class="filter">
        <label>Regions</label>        
        <div *ngFor="let region of regionOptionsForSelection; let i = index">
          <input type="checkbox" [(ngModel)]="region.selected"
           (change)="getSelectedProduct(region)" [disabled]="region.disabled">
          <span>{{region.name}}</span>
        </div>
      </div>
</div>