<div class="home-page">
  <div class="side-bar">
    <app-side-panel
        [productsOptionsForSelection]="productNames"
        [regionOptionsForSelection]="regions"
        [quaterOptionsForSelection]="quaters"
        (selectedProducts)="onProductSelected($event)"
        (selectedRegions)="onRegionSelected($event)"
        (selectedQuaters)="onQuaterSelected($event)">
    </app-side-panel>
  </div>
  <h1>Sales</h1>
  <div class="main-content">
    <!--Graph cards-->
    <div class="card-container" id="container-one">
      <h3>Revenue</h3>
      <div class="flex">
        <div class="flex-item">
          <div style="display: block;">
          <canvas baseChart id="line_chart"></canvas>
          </div>
        </div>
      </div>
    </div>
    <div class="card-container" id="container-two">
      <h3>Quantity Sold Per Year</h3>
      <div class="container">
        <div>
          <div style="display: block">
            <canvas baseChart id="bar_chart">
            </canvas>
          </div>
        </div>
      </div>
    </div>
    <div class="card-container pie-chart-container" id="container-three">
      <div class="btn-container">
        <h3>{{selectedOptionForPie === 'Revenue' ? 'Revenue' : 'Quantity Sold'}} based on Regions</h3>
        <!--button>Show Quantity</button-->
        <form [formGroup]="optionFormOne" class="drop-down-container">
          <select id="options" formControlName="options" (change)="changeView($event)">
              <option *ngFor="let c of selectionOptions" [ngValue]="c">{{ c }}</option>
          </select>
        </form>        
      </div>
      <div class="container" style="height:300px;width:280px;margin-left:50px;">
        <div>
          <div style="display: block">
            <canvas baseChart id="pie_chart" height="200px" width="200px">
            </canvas>
          </div>
        </div>
      </div>
    </div>
    <div class="card-container pie-chart-container" id="container-four">
      <div class="btn-container">
        <h3>{{selectedOptionForDoughnut === 'Revenue' ? 'Revenue' : 'Quantity Sold'}} based on Quaters</h3>
        <form [formGroup]="optionFormTwo" class="drop-down-container">
          <select id="options" formControlName="options" (change)="changeViewForDoughnut($event)">
              <option *ngFor="let c of selectionOptions" [ngValue]="c">{{ c }}</option>
          </select>
        </form> 
      </div>
      <div class="container" style="height:300px;width:280px;margin-left:50px;">
        <div>
          <div style="display: block">
            <canvas baseChart id="dough_chart" height="200px" width="200px">
            </canvas>
          </div>
        </div>
      </div>
    </div>            
  </div>
</div>